@model IEnumerable<CondSys.Model.Usuarios.UsuarioDto>

@{
    ViewBag.Title = "Usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="table-responsive">
    <table id="tblItens" class="table table-striped table-hover dt-responsive display nowrap" cellspacing="0">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Acesso)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Admin)
                </th>
                <th style="width:13%">
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th style="width:10%"></th>
            </tr>
        </thead>
        <tbody>

            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Acesso)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Administrador)
                        </td>
                        <td style="width:13%">
                            <div class="showstatus @(item.Ativo ? "green" : "red")">
                                @Html.DisplayFor(modelItem => item.Status)
                            </div>
                        </td>
                        <td style="width:10%">
                            @Html.ActionLink("edit", "Editar", new { id = item.UsuarioId,  }, new { @class = "btn btn-floating material-icons", id = "btnEdit" })
                            <div class="fixed-action-btn @(ViewBag.UsuarioAdmin ? "" : "hiddendiv")">
                                <a class="btn btn-floating">
                                    <i class="material-icons">toc</i>
                                </a>
                                <ul>
                                    <li><a class="btn-floating btn-large btn-status" title=@(item.Ativo ? "Inativar": "Ativar") id="btnStatus" rel="@item.UsuarioId" data-rel="2"><i class="material-icons">settings_power</i></a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<div class="right-bottom">
    @Html.ActionLink("add", "Novo", null, new { @class = "btn btn-floating material-icons" })
</div>
<script>
    $(document).ready(function () {
        $('select').formSelect();
        $('.fixed-action-btn').floatingActionButton({
            hoverEnabled: false,
            direction: 'right'
        });

        $(".btn-status").click(function () {
            var url = '@Url.Action("AlteraStatus", "Usuario")';
            var id = $(this).attr("rel");
            $.post(url, { id: id, status: status }, function () {
                window.location.reload(true);
            });
        });
    });
</script>
